.underline {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
   
   
  .underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#25D366;
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
  }
   
   
  .underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }